*{
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.flex-container{
    display: flex;
}

.flex-col{
    flex: 50%;
    height: fit-content;
}

.grid-container{
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	height: max-content;
}

.radio-container{
	/* padding: 15px; */
	width: 35px;
	height: 35px;
	align-items: center;
	justify-content: center;
}

.inputBox{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
	width: 15px;
	height: 15px;
	appearance: none;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid white;
}

.data:checked{
    background-color: rgb(0, 247, 255);	
}

.parity-null:checked{
    background-color: rgb(251, 255, 0);	
}

.parity:checked{
    background-color: rgb(9, 255, 0);	
}

#root{
	background-color: #353535;
	height: 47vw;
}

.nav-btn{
	cursor: pointer;
}